@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  -webkit-transition: translate 2500ms ease-in-out;
  transition: translate 2500ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding: 3rem;
}

/*Site navigation*/
header {
  position: fixed;
  top: 3%;
  left: 3rem;
  right: 3rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background-color: #242222;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-transition: top 250ms ease-in;
  transition: top 250ms ease-in;
}

.nav-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1em 1em;
  margin: 0 4em;
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 2px;
  background: #2ca59b;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link:hover {
  color: whitesmoke;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.nav-scrolled {
  top: 0%;
  padding: .1rem;
}

/* Home Page */
.welcome-section {
  height: 90vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 165, 155, 0.7)), to(rgba(0, 0, 0, 0.7))), url("./images/background_gif.gif");
  background-image: linear-gradient(to right bottom, rgba(44, 165, 155, 0.7), rgba(0, 0, 0, 0.7)), url("./images/background_gif.gif");
  background-size: cover;
  cursor: default;
}

.welcome-section h1 {
  font-family: 'Montserrat';
  font-size: 5rem;
  color: white;
}

.welcome-section h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}

.welcome-section h2:nth-child(2) {
  font-size: .8rem;
  position: absolute;
  bottom: 20%;
  text-transform: lowercase;
}

.welcome-section:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3em;
  right: 3em;
  padding: 2em;
  background-color: white;
}

.about-section {
  height: 40vh;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-text {
  width: 35vw;
  text-align: left;
  margin: 2rem;
}

.info-text p {
  color: rgba(75, 70, 70, 0.7);
  font-family: 'Montserrat', sans-serif;
}

.info-text h1 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(44, 165, 155, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(to right, rgba(44, 165, 155, 0.7), rgba(0, 0, 0, 0.7));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.info-images {
  width: 60%;
  margin-left: 2rem;
}

.info-images img {
  height: 8rem;
  margin: 1.1rem;
  -webkit-filter: drop-shadow(1px 1px 2px #222);
          filter: drop-shadow(1px 1px 2px #222);
}

/* Projects Page */
.projects-section {
  background-color: #d7dddd;
  padding: 5% 15%;
  height: 110vh;
}

.projects-section h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(44, 165, 155, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(to right, rgba(44, 165, 155, 0.7), rgba(0, 0, 0, 0.7));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 70rem;
  margin: auto;
}

.card {
  width: 30%;
  position: relative;
  height: 17em;
  text-align: center;
  margin: -10px 20px 40px 20px;
  -webkit-perspective: 150em;
          perspective: 150em;
  max-width: 15em;
  min-width: 14em;
  margin: 2.5rem;
  margin-top: 0;
}

.card-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
          box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-front {
  background-color: whitesmoke;
}

.card-front .project-name-background {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 3rem 6rem;
  border-radius: 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 80%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 80%);
  z-index: 5;
  cursor: default;
}

.card-front-1 .project-name-background,
.card-front-2 .project-name-background,
.card-front-3 .project-name-background,
.card-front-4 .project-name-background,
.card-front-5 .project-name-background,
.card-front-6 .project-name-background {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(52, 11, 117, 0.5)), to(rgba(16, 75, 124, 0.7))), url("./images/background_gif.gif");
  background-image: linear-gradient(to right bottom, rgba(52, 11, 117, 0.5), rgba(16, 75, 124, 0.7)), url("./images/background_gif.gif");
  background-size: cover;
}

.card-front h2 {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 2%;
  right: 2%;
  font-family: 'Montserrat', serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
}

.card-front ul {
  text-align: center;
  padding: 7em 2em 0em 2em;
}

.card-front ul li {
  padding: .5em .3em;
}

.card-front li:not(:last-child) {
  border-bottom: 1px solid rgba(75, 70, 70, 0.2);
}

.card-back {
  color: #FFF;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: center;
  cursor: default;
}

.card-back a {
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .7em;
  background: whitesmoke;
  border-radius: 27px;
  margin-bottom: 10px;
}

.card-back .project-links {
  padding: 0 4.2em;
}

.card-back p {
  padding: 2em 2em;
}

.card-back .btn:hover {
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
  color: whitesmoke;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
}

.card-back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7061f7), to(#4936f7));
  background-image: linear-gradient(to right bottom, #7061f7, #4936f7);
}

.card-back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#df5e23), to(#c46711));
  background-image: linear-gradient(to right bottom, #df5e23, #c46711);
}

.card-back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2aa17a), to(#3f683a));
  background-image: linear-gradient(to right bottom, #2aa17a, #3f683a);
}

.card-back-4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1a5f59), to(#0a1109));
  background-image: linear-gradient(to right bottom, #1a5f59, #0a1109);
}

.card-back-5 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(161, 59, 187, 0.7)), to(#0a1109));
  background-image: linear-gradient(to right bottom, rgba(161, 59, 187, 0.7), #0a1109);
}

.card-back-6 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ad9b32), to(#aa620f));
  background-image: linear-gradient(to right bottom, #ad9b32, #aa620f);
}

.card:hover .card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card-back {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.card:nth-child(-n+3) {
  margin-bottom: 100px;
}

.card-details li {
  list-style-type: none;
}

.separator {
  left: 3em;
  right: 3em;
  padding: 2em;
  background-color: white;
}

/* Contact page */
.contact-section {
  padding: 10% 0 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 165, 155, 0.7)), to(rgba(0, 0, 0, 0.7))), url("./images/background_gif.gif");
  background-image: linear-gradient(to right bottom, rgba(44, 165, 155, 0.7), rgba(0, 0, 0, 0.7)), url("./images/background_gif.gif");
  background-size: cover;
}

.contact-section h1 {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.contact-section h1:hover {
  color: rgba(255, 255, 255, 0.774);
  cursor: default;
}

.contact-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 1em 4em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fab,
.fas {
  font-size: 3rem;
  padding: .4em;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
}

footer {
  padding: .7em 0 .3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141212;
  color: whitesmoke;
}

footer p {
  cursor: default;
  font-size: .7rem;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000cc;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup:target {
  opacity: 1;
  display: block;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: .5rem;
  background-color: #FFF;
  -webkit-clip-path: circle(35%);
          clip-path: circle(35%);
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #2ca59b;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 50vw;
  max-height: 50vh;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
          transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all .4s .1s;
  transition: all .4s .1s;
}

.popup__content img {
  width: 100%;
}

/* Intersection Observer */
.fade-in {
  opacity: 0;
  -webkit-transition: opacity 1500ms ease-in;
  transition: opacity 1500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.short {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.long {
  -webkit-transition-delay: 1500ms;
          transition-delay: 1500ms;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.longest {
  -webkit-transition-delay: 3500ms;
          transition-delay: 3500ms;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/*
responsive design for [iPhone X, Pixel 2]
        to be continued...
            */
@media (max-width: 415px) {
  .about-section {
    height: 50%;
  }
  .info-text h1 {
    font-size: .85rem;
  }
  .info-text p {
    font-size: .7rem;
  }
  .info-images {
    margin: .3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-images img {
    height: 4rem;
    margin: .4rem;
  }
}

@media (max-width: 590px) {
  body {
    padding: 0rem;
  }
  .header {
    min-width: 100vw;
  }
  .nav-scrolled {
    top: 0%;
    left: 0%;
    right: 0%;
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-link {
    font-size: 20px;
    margin: 3px;
  }
  .welcome-section h1 {
    font-size: 4rem;
    line-height: 90%;
  }
  .welcome-section h2 {
    font-size: 90%;
  }
  .welcome-section:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0em;
    right: 0em;
    padding: 0em;
    background-color: white;
  }
  .info-text h1 {
    font-size: .85rem;
  }
  .info-text p {
    font-size: .7rem;
  }
  .info-images {
    margin: .3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-images img {
    height: 4rem;
    margin: .4rem;
  }
  .projects-section {
    padding: 1em;
  }
  .projects-section h1 {
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }
  .card {
    margin: 10px;
  }
  .card:nth-child(-n+3) {
    margin-bottom: 10px;
  }
  .cards {
    opacity: 1;
    position: relative;
  }
  .card-front ul {
    padding: 7em 1.5em 0em 1.5em;
  }
  .projects-section {
    min-height: 280vh;
  }
  .separator {
    padding: 0;
  }
  .contact-section {
    min-height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #c3c3c3;
  }
  .contact-section h1 {
    margin-bottom: 45px;
  }
  .contact-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup:target .popup__content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
  }
  .popup:target .popup__content html {
    position: fixed;
  }
  .popup .close {
    position: absolute;
    z-index: 10000;
    top: 0%;
    right: 0%;
    -webkit-clip-path: none;
            clip-path: none;
    color: transparent;
    background-color: transparent;
    padding: 100%;
  }
}

@media (max-height: 740px) {
  .projects-section {
    min-height: 320vh;
  }
}

@media (max-height: 1200px) {
  header {
    top: 0%;
    left: 0%;
    right: 0%;
  }
}

@media (max-height: 670px) {
  .projects-section {
    min-height: 350vh;
  }
}

@media (min-width: 2600px) {
  .projects-section {
    height: 80vh;
  }
}

@media (max-width: 1835px) {
  .cards {
    position: absolute;
    left: 0;
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */
